<section id="contacto" class="container my-2">
    <div class="row text-center my-5">
        <h2 class="display-3 fw-bold">Contáctame</h2>
        <p class="my-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a mauris id purus blandit dapibus. Nunc at enim et lacus porttitor tincidunt. Donec imperdiet augue nec aliquet sagittis.
        </p>
    </div>
    <div>
        <div class="row">
            <form action="#" method="post">
                <div class="mb-3">
                <label for="nombre" class="form-label fw-bold">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="mb-3 text-end">
                    <input type="submit" class="btn btn-lg btn-outline-info" value="Enviar">

                </div>
            </form>
        </div>

    </div>
</section> 