<header class="text-light text-end py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 ms-auto">
                <h1 class="display-1 fw-bold my-5">Expertos en <br> Flanes</h1>
                <p class="my-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a mauris id purus blandit dapibus. Nunc at enim et lacus porttitor tincidunt. Donec imperdiet augue nec aliquet sagittis.
                </p>
                <div class="mb-5 pb-5">
                    <a class="btn btn-outline-primary text-light me-4" href="{% url 'flanes' %}">
                        Tipos de Flanes
                    </a>
                    <a class="btn btn-outline-primary text-light me-4" href="#contacto">
                        Contacto
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</header>
